*{
    margin: 0;
}

.img_div{
    width: 350px;
}

.y_div{
    width: 350px;
    margin: 10px;
}

img{
  margin: 0;
  padding: 0;
  width: 100%;
}

.curr_aff_main{
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.indv_tweet{
    margin: 20px ;
    max-width: 550px;
    height: fit-content;
}


.body {
    background-image: url("./images/background.jpg") !important;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
  }
  
  input{

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 2rem;
    width: 80%;
    height: 3rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: #3c354e;
    font-size: 1rem;
    font-weight: bold;
    /* &:focus {
      display: inline-block;
      box-shadow: 0 0 0 0.2rem #b9abe0;
      backdrop-filter: blur(12rem);
      border-radius: 2rem;
    }
    &::placeholder {
      color: #b9abe099;
      font-weight: 100;
      font-size: 1rem;
    }
  `; */
  }